:root {
    --basic-white: #ffffff;
    --basic-background: #81B3D2;
    --basic-black: #000000;
    --header-height: 55px
}
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    background-color: #dcdcdc;
    
}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
a , button, input {
    outline: none;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
} 

  


/*Main-navigation*/
header {
    
}
.main-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #81B3D2;
}
.navigation-link a:active {
    color: #b3b3b3;
}
.navigation-link a:focus {
    color: #766357;
}
.navigation-link {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 150px;
    padding: 20px 50px;
}
.header-logo {
    position: absolute;
    left: calc(50% - (138px / 2));
}

/* Main-information */

.start-information { 
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    padding-top: 75px;
    background-image: url(../img/main_bg.jpg);
    background-color: #32494E;
    background-repeat: no-repeat;
    text-align: center;
}
.start-information img {
    align-self: center;
}
.start-information .img2 {
    padding-top: 60px;
}


/* General information */
.general-information {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
}
.general-information h2{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 500px;
}
.general-information p{
    color: var(--basic-black);
    font-size: 14px;
}
.items-about{
    display: flex;
    padding-top: 50px;
}
.about {
    max-width: 400px;
    background-color: #81B3D2;
}
.about h4 {
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
}
.about p{
    color: var(--basic-white);
    padding-left: 50px;
    padding-right: 50px;
}
.list-items{
    display: flex;
    margin-top: 50px;
    padding-bottom: 80px;
}
.list-items h3{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}
.list-items li {
    max-width: 295px;
}
.list-items p{
    color: #333333;
}
.item{
    margin: 0 auto;
}
.icons {
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 75px;
    height: 77px;
}
.icon-1{
    background-image: url(../img/icon-1.svg);
}

.icon-2{
    background-image: url(../img/icon-2.svg);
}
.icon-3{
    background-image: url(../img/icon-3.svg);
}   
.description-top {
    display: flex;
}

.description-bottom {
    display: flex;
    background: #EEEEEE;
    height: 256px;
}
.description-bottom li {
    margin: 0 auto;
}
.description h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.title-of-search {
    text-transform: uppercase;
    text-align: center;
}
.title-of-search h2{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}








/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    height: 120px;
}
footer li{
    list-style: none;
}

.footer-contact p{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.footer-contact a{
    font-size: 21px;
    color: var(--basic-black);
}
.footer-contact p:first-child:hover,
.footer-contact a:hover {
    color: #5496BD;
}
.social {
    display: flex;
    justify-content: space-around;
}    
.social-icon{
    display: inline-block;
    height: 46px;
    width: 48px;
    margin-top: 36px;
    margin-left: 5px;
    background-color: #81B3D2;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tw{
    background-image: url(../img/twitter.svg);  
}
.social-fb{
    background-image: url(../img/facebook.svg);
}
.social-yt{
    background-image: url(../img/youtube.svg);
}
.social a:hover{
    background-color: #669EC0;
}
.social a:focus {
    background-color: #5496BD;
}
.visually-hidden{
    display: none;
}
.copyright {
    display: flex;
    align-items: center;
}
.copyright p {
    text-transform: uppercase;
    margin-right: 5px;
}
.copyright svg:hover {
    fill: #81B3D2;
}
.copyright svg:focus {
    fill: #BDBBBC;
}





/* Catalog page */
li {
    list-style: none;
}
.filter-forms {
    height: 217px;
    display: flex;
    background-image: url(../img/background-filters.png);
    color: var(--basic-white);
}
.filter-forms legend {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 72px;
}
.filter-forms label {
    cursor: pointer;
}
.filter-forms input {
    outline: none   ;
}
.checkbox-left {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 200px;
    margin-right: 55px;
    margin-top: 27px;
}
.checkbox-right {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 200px;
    margin-right: 55px;
    margin-top: 27px;
}
.checkbox-right li,
.checkbox-left li {
    padding: 13px 3px;
    margin-left: 72px;
}
.container-wrapper {
    max-width: 1050px;
}
.search-result{
    text-transform: uppercase;
    display: flex;
    padding-top: 8px;
    padding-bottom: 10px;
}
.search-result li {
    align-self: center;
}
.search-result > p,a{
    font-size: 12px;
    line-height: 18px;
}
.search-parameters {
    display: flex;
    justify-content: flex-start;
    padding-left: 45px;
    width: 70%;
}
.search-parameters .active{
    color: #81B3D2;
    border: none;
}
.search-parameters a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2; 
}
.search-parameters a:hover{
    color: #81B3D2;
}
.search-parameters a:focus {
    color: var(--basic-black);
    opacity: 1;
}
.title-of-result {
    padding-left: 73px;
}
.parameters-title {
    padding-right: 40px;
}
.search-parameters li {
    padding-right: 30px;

}
.arrows{
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    align-self: center;
    padding-left: ;
}
.arrow-up svg:hover {
    fill: black;
}
.arrow-down {
   transform: rotateX(180deg);
}
.arrow-up a{
    margin: 5px;
}

.container-stars{
    display: flex;
}
.stars{
    margin-top: 20px;
    width: 19px;
    height: 17px;
    background-image: url(../img/star.svg);
} 
.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 490px;
}
.rating p{
    display: inline-block;
    width: 120px;
    height: 27px;
    text-transform: uppercase;
    color: #666666;
    background-color: #F2F2F2;
    text-align: center;

}
.name-of-hotel{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.name-of-hotel:hover{
    color: #81B3D2;
}
.name-of-hotel:focus {
    color: var(--basic-black);
    opacity: 0.3;
    mix-blend-mode: normal;
}
.hotels-about {
    display: flex;
    max-width: 180px;
    justify-content: space-between;
}
.hotels-about span{
    text-transform: uppercase;
}

.hotel {
    display: flex;
    padding-left: 73px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e5e5e5;
}
.hotels li:last-child {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
}
.block-info {
    margin-left: 30px;
}
.hotels-btn {
    margin-top: 10px;
}
.hotels-btn a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 17px;
    margin-top: 9px;
}
.details{
    display: inline-block;
    color: var(--basic-white);
    background-color: #81B3D2;
}
.details:hover{
    background-color: #669EC0;
}
.details:focus {
    background: #5496BD;
}
.reservation{
    color: var(--basic-white);
    background-color: #766357;
}
.reservation:hover{
    background-color: #604E43;
}
.reservation:focus {
    background-color: #503E33;
}



/* Modal window */
.search-form {
    margin: 0 auto;
    align-items: center;
    width: 568px;
    margin-top: 70px;
}
.search-form a {
    color: var(--basic-white);
    background-color: #766357;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 30px 125px;
}
.search-form a:hover {
    background-color: #604E43;
}
.search-form a:focus {
    background-color: #503E33;
}                           
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;
}
.line-1 {
    width: 478px;
    display: flex;
}
.line-2 {
    width: 478px;
    display: flex;
    padding-top: 30px;
}
.line-1 input:hover,
.line-2 input:hover {
    background-color:#EBEBEB;
    border:none;
}
.text input {                    
    background: #FFFFFF;
    outline: none;
    border: 2px solid #E5E5E5;
}
.date {
    width: 120px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 3px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.text {
    width: 290px;
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 700;
}
.calendar-icon {
    border: none;
    background-color:#F2F2F2;
    padding-left: 13px;
    fill: #a9a9a9;
}
.calendar-icon svg:hover {
    fill: var(--basic-black);
    cursor: pointer;
}
.calendar-icon svg:active {
    fill: #81B3D2;;
}
.visitors {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.visitors button, input {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
.visitors button {
    color: #a9a9a9;
    font-size: 23px;
    font-weight: bold;
}
.visitors button:hover {
    color: var(--basic-black);
    font-weight: bold;
    cursor: pointer;
}
.visitors input {
    text-align: center;
    width: 36px;
    height: 38px;
    font-weight: bold;
}
.visitors button:focus {
    color: #81B3D2;
}
.minus {
    width: 38px;
    height: 38px;
}
.plus {
    width: 38px;
    height: 38px;
}
.search-button {
    color: var(--basic-white);
    font-size: 21px;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #81b3d2;
    padding: 5px 120px;
    width: 458px;
    height: 58px;
    border: none;
    margin-top: 40px;
}
.search-button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.search-button:focus {
    background-color: #5496BD;
}



