:root {
    --basic-white: #ffffff;
    --basic-background: #81B3D2;
    --basic-black: #000000;
    --header-height: 55px
}
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    background-color: #dcdcdc;
    
}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}


.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
} 

  


/*Main-navigation*/
header {
    
}
.main-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #81B3D2;
}
.navigation-link {
    display: flex;
    justify-content: space-between;
}
.navigation-link li {}

.navigation-link a:first-child {
    margin-left: 72px;
}
.navigation-link a:last-child {
    margin-right: 72px;
}
.navigation-link a:nth-child(2) {
    margin-left: 816px;
}
.header-logo {
    position: absolute;
    left: calc(50% - (138px / 2));
}

/* Main-information */

.start-information { 
    height: 509px;
    background-image: url(../img/main_bg.jpg);
    background-color: #32494E;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 30px;
}
.img1{
    margin-top: 77px;
    margin-bottom: 53px;
}



/* General information */
.general-information h2{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.general-information p{
    color: var(--basic-black);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.items-about{
    display: flex;
    margin-top: 51px;
}
.about {
    max-width: 400px;
    height: 256px;
    background-color: #81B3D2;
}
.about h4 {
    color: var(--basic-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
}
.about p{
    color: var(--basic-white);
    padding-left: 50px;
    padding-right: 50px;
}
.list-items{
    display: flex;
    margin-top: 50px;
}
.list-items h3{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}
.list-items li {
    max-width: 295px;
}
.list-items p{
    color: #333333;
    padding-bottom: 82px;
}
.item{
    margin: 0 auto;
}
.icons {
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 75px;
    height: 77px;
}
.icon-1{
    background-image: url(../img/icon-1.svg);
}

.icon-2{
    background-image: url(../img/icon-2.svg);
}
.icon-3{
    background-image: url(../img/icon-3.svg);
}   
.description-top {
    display: flex;
}

.description-bottom {
    display: flex;
    background: #EEEEEE;
    height: 256px;
}
.description-bottom li {
    margin: 0 auto;
}
.description h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.title-of-search h2{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.title-of-search p{
    text-transform: uppercase;
    text-align: center;
}







/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    height: 120px;
}
footer li{
    list-style: none;
}

.footer-contact p{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.footer-contact a{
    font-size: 21px;
    color: var(--basic-black);
}
.social {
    display: flex;
    justify-content: space-around;
}    
.social-icon{
    display: inline-block;
    height: 46px;
    width: 48px;
    margin-top: 36px;
    margin-left: 5px;
    background-color: #81B3D2;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tw{
    background-image: url(../img/twitter.svg);  
}
.social-fb{
    background-image: url(../img/facebook.svg);
}
.social-yt{
    background-image: url(../img/youtube.svg);
}
.social a:hover{
    background-color: #669EC0;
}
.visually-hidden{
    visibility: hidden;
}
.copyright {
    display: flex;
    align-items: center;
    
}
.copyright p{
    text-transform: uppercase;
    margin-right: 5px;
}
.copyright a:hover{
    filter: hue-rotate(90deg);
}





/* Catalog page */
.filter-forms {
    height: 217px;
    display: flex;
    background-image: url(../img/background-filters.png);
    margin-top: 30px;
    color: var(--basic-white);
}
.filter-forms legend {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 72px;
}
.checkbox-left {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 200px;
    margin-right: 55px;
    margin-top: 27px;
}
.checkbox-right {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 200px;
    margin-right: 55px;
    margin-top: 27px;
}
.checkbox-right li,
.checkbox-left li {
    padding: 13px 3px;
    margin-left: 72px;
}

.search-result{
    text-transform: uppercase;
}
.search-result > p,a{
    font-size: 12px;
    line-height: 18px;
}

.search-parameters .active{
    color: #81B3D2;
    border: none;
}
.search-parameters a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2; 
}
.search-parameters a:hover{
    color: #81B3D2;
}

li{
    list-style: none;
}
.arrows{
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.arrow-up {
    background-image: url(../img/icon-up-dir.svg);
}
.arrow-up a{
    background-image: url(../img/icon-up-dir.svg);
}
.arrow-down {
    background-image: url(../img/icon-down-dir.svg);
}
.arrow-down a{
    background-image: url(../img/icon-down-dir.svg);
}
.hotel{
    margin-top: 40px;
}
.container-stars{
    display: flex;
}
.stars{
    margin-top: 20px;
    width: 19px;
    height: 17px;
    background-image: url(../img/star.svg);
} 
.rating p{
    display: inline-block;
    width: 120px;
    height: 27px;
    text-transform: uppercase;
    color: #666666;
    background-color: #F2F2F2;
    align-items: center;
    text-align: center;
    vertical-align: center;
}
.name-of-hotel{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.name-of-hotel:hover{
    color: #81B3D2;
}
.hotels-about span{
    text-transform: uppercase;
}
.hotel {
    display: flex;
    padding-left: 73px;
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
}
.hotels li:last-child {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
}
.block-info {
    margin-left: 25px;
}
.hotels-btn a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 17px 3px;
}
.details{
    display: inline-block;
    color: var(--basic-white);
    background-color: #81B3D2;
}
.details:hover{
    background-color: #669EC0;
}
.reservation{
    color: var(--basic-white);
    background-color: #766357;;
}
.reservation:hover{
    background-color: #604E43;
}



/* Modal window */
.search-form {
    margin: 0 auto;
    align-items: center;
    width: 568px;
    height: 395px;
    margin-top: 70px;
}
.search-form a {
    color: var(--basic-white);
    background-color: #766357;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 30px 125px;
}
.search-form a:hover {
    background-color: #604E43;
}
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;
}
.line-up {
    width: 478px;
    display: flex;
    margin: 55px;
    margin-bottom: 30px;
}
.line-middle {
    display: flex;
    width: 478px;
}
.date {
    width: 120px;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
}
.text {
    width: 290px;
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 700;
}
.calendar-icon {
    border: none;
    padding-left: 13px;
}
.visitors {
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    margin-right: 3px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
}
.visitors button, input {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
.visitors button {
    color: #a9a9a9;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
}
.visitors button:hover {
    color: var(--basic-black);
    font-weight: bold;
}
.visitors input {
    text-align: center;
    width: 36px;
    height: 38px;
    font-weight: bold;
}
.minus {
    width: 38px;
    height: 38px;
}
.plus {
    width: 38px;
    height: 38px;
}
.search-button {
    color: var(--basic-white);
    font-size: 21px;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #81b3d2;
    padding: 5px 120px;
    width: 458px;
    height: 58px;
    border: none;
    margin-top: 40px;
    margin-bottom: ;
}
.search-button:hover {
    opacity: 0.9;
    cursor: pointer;
}



