:root {
    --basic-white: #ffffff;
    --basic-background: #81B3D2;
    --basic-black: #000000;
    --header-height: 55px
}
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}


 .wrapper{
    width: 1200px;
    margin: 0 auto;
} 

  


/*Main-navigation*/

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.main-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
}
.main-navigation a:hover {
    color: #81B3D2;
}
.navigation-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation-link a:first-child {
    margin-left: 72px;
}
.navigation-link a:last-child {
    margin-right: 72px;
}
.navigation-link a:nth-child(2) {
    margin-left: 816px;
}
.header-logo {
    position: absolute;
    margin-left: 531px;
}

/* Main-information */

.start-information { 
    height: 509px;
    background-image: url(../img/main_bg.jpg);
    background-color: #32494E;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 30px;
}
.img1{
    margin-top: 77px;
    margin-bottom: 53px;
}



/* General information */
.general-information h2{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.general-information p{
    color: var(--basic-black);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.about {
    max-width: 400px;
    height: 256px;
    background-color: #81B3D2;
}
.about h4 {
    color: var(--basic-white);
    text-align: center;
    padding-top: 47px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
}
.about p{
    color: var(--basic-white);
}
.icons {
    background-repeat: no-repeat;
    width: 75px;
    height: 77px;
}
.icon-1{
    background-image: url(../img/icon-1.svg);
}

.icon-2{
    background-image: url(../img/icon-2.svg);
}
.icon-3{
    background-image: url(../img/icon-3.svg);
}   
.list-items h3{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}
.description h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.search h2{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.search p{
    text-transform: uppercase;
    text-align: center;
}







/* FOOTER */
footer li{
    list-style: none;
}

.footer-contact p{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.social-icon{
    vertical-align: center;
    display: inline-block;
    vertical-align: center;
    height: 46px;
    width: 48px;
    background-color: #81B3D2;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tw{
    background-image: url(../img/twitter.svg);  
}
.social-fb{
    background-image: url(../img/facebook.svg);
}
.social-yt{
    background-image: url(../img/youtube.svg);
}
.social a:hover{
    background-color: #669EC0;
}
.visually-hidden{
    visibility: hidden;
}
.copyright p{
    text-transform: uppercase;
}






/* Catalog page */
.search-result{
    text-transform: uppercase;
}
.search-result p, a{
    font-size: 12px;
    line-height: 18px;
}
.search-parameters .active{
    color: #81B3D2;
    border: none;
}
.search-parameters a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2; 
}
.search-parameters a:hover{
    color: #81B3D2;
}

li{
    list-style: none;
}
.arrows{
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.arrow-up {
    background-image: url(../img/icon-up-dir.svg);
}
.arrow-up a{
    background-image: url(../img/icon-up-dir.svg);
}
.arrow-down {
    background-image: url(../img/icon-down-dir.svg);
}
.arrow-down a{
    background-image: url(../img/icon-down-dir.svg);
}
.hotel{
    margin-top: 40px;
}
.container-stars{
    display: flex;
}
.stars{
    margin-top: 20px;
    width: 19px;
    height: 17px;
    background-image: url(../img/star.svg);
} 
.rating p{
    display: inline-block;
    width: 120px;
    height: 27px;
    text-transform: uppercase;
    color: #666666;
    background-color: #F2F2F2;
    align-items: center;
    text-align: center;
    vertical-align: center;
}
.name-of-hotel{
    color: var(--basic-black);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.name-of-hotel:hover{
    color: #81B3D2;
}
.hotels-btn {
    margin-top: 10px;
}
.hotels-about span{
    text-transform: uppercase;
}
.hotels-btn a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 17px 3px;
}
.details{
    display: inline-block;
    color: var(--basic-white);
    background-color: #81B3D2;
}
.details:hover{
    background-color: #669EC0;
}
.reservation{
    color: var(--basic-white);
    background-color: #766357;;
}
.reservation:hover{
    background-color: #604E43;
}



/* Modal window */
.search-form{
    width: 568px;
    height: 395px;
    text-align: center;
}
.search-form p{

}


